*{
    margin: 0;
    padding: 0;
}
:root{ /*pallette plus fonts*/
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5;

--denlille: "serenity", sans-serif;
--denstore: "noka", sans-serif;
}
/*Brødkrummer*/
.donde{ 
    display: flex;
    font-family: var(--denlille);
    font-size: 1.2vw;
    padding: 1vw 3vw;
    gap: 5px;
    align-items: center;
    margin-bottom: -30px;
    color: var(--beige);
}
.donde a{
    text-decoration: none;
    color: var(--beige);
}
.donde a:hover{
    text-decoration: underline;
}
.protein{
    text-decoration: underline !important; /*Den var stædig, jeg var stædigere*/
}

/*Forsøg på at rette header til, da den ikke stemte over ens med det*/
.navlist a{
    color: var(--orange);
    font-family: var(--denstore) !important; /*Den kamp tabte jeg*/
}

/*font styling*/
h1{
    font-family: var(--denstore);
}
p{
    font-family: var(--denlille);
}
body{
    background-color: var(--hvid);
}

/*Fjerner scrollbar*/
::-webkit-scrollbar{
    display: none;
}

/*2. header styling*/
.header2{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--beige);
    color: var(--orange);
    font-family: var(--denlille);
    font-size: 1rem;
}

.header2 h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
#ikoner:hover{
    transform: scale(1.12);
    cursor: pointer;
}

#ikoner{
    font-size: 25px;
    margin-top: 5px;
}

/*Styling på billede*/
.bajeren{
    display: flex;
    padding: 60px 150px;
}

.bajs{
    max-width: 400px;
    padding-right: 100px;
    
}

/*Styling på teksten i helhed*/
.dethele{
    display: block;
    color: var(--orange);
}

.overskrift{
    display: flex;
    color: var(--lysblaa);
}
#overskrift{
    margin-right: 20px;
    font-size: 50px;
}

#pris{
    font-size: 70px;
}
.broedtekst{
    max-width: 400px;
    font-size: 20px;
    padding: 10px 0 20px 0;
}
/*Knappers styling*/
.knapper{
    gap: 10px;
    margin-bottom: 10px;
}
.knapper #antal{
    color: var(--orange);
    background: none;
    border-radius: 15px;
    border: 4px solid var(--beige);
    font-size: 20px;
    padding: 10px;
    font-family: var(--denlille);
    text-align: center;
}
#antal:hover{
    color: var(--hvid);
    background-color: var(--orange);
    cursor: pointer;
}

#antal:active{
    background-color: var(--orange);
}
.kurvknap{
    background-color: var(--roed);
    color: var(--hvid);
    border-radius: 15px;
    border-color: var(--orange);
    font-size: 20px;
    padding: 10px;
    border: none;
}
.kurvknap:hover{
    background-color: var(--orange);
    cursor: pointer;
}

/*Anbefaling styling*/
.anbefalet{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    border-top: 4px solid var(--beige);
}
.overskrift2{
    padding-top: 10px;
    color: var(--beige);
}

.underside{
    background-color: var(--orange);
    color: var(--beige);
}

.anbefalinger img{
    width: 200px;
    margin-top: 50px;
}
.anbefalinger img:hover{
    transform: scale(1.1);
}

/*Opsætning til grid*/
.anbefalinger{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 150px;
    padding-bottom: 50px;
    text-align: center;
    border-bottom: 4px solid var(--beige);
}
#anb{
    display:block;
    align-items: center;
    font-size: x-large;
    justify-content: center;
}