*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5;

--denlille: "serenity", sans-serif;
--denstore: "noka", sans-serif;
}
html{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar{
    display: none;
}

body{
    background-color: var(--hvid);
}

body, h1{
    font-family: var(--denstore);
    color: var(--roed);
    padding-bottom: 20px;
}
body, p{
    font-family: var(--denlille);
    color: var(--roed);
    padding-bottom: 40px;
}
header{
    width: 100%;
}
header, video{
    width: 100%;
}

#maanedens{
    margin: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
}
.købnu{
    font-family: var(--denlille);
    font-size: xx-large;
    background-color: var(--roed);
    color: var(--hvid);
    border-radius: 15px;
    padding: 10px;
    border: 0px;
}
.købnu:active{
    background-color: var(--roed);
    border: 1px solid var(--orange);
}
.købnu:hover{
    background-color: var(--orange);

}
#maanedens, .text{
    display: flex;
    justify-content: center;
    padding: 30px;
}
#maanedens, h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
#maanedens, p{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.linje{
    border-top: 4px solid var(--roed);
    width: 300px;
    z-index: 1;
    margin-top: 20px;
}

#billede{
    border: 5px solid var(--lysblaa);
    min-width: 40%;
}


