/*Mange ting kommer til at gå igen her, da f.eks hvide kanter bliver fjernet, og kommer igen, for så at blive fjernet, komme igen osv osv.*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Paletter*/
:root{
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5;

--denlille: "serenity", sans-serif;
--denstore: "noka", sans-serif;
}


html{
    margin: 0px;
    padding: 0px;
}


html, body{
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar{
    display: none;
}

/*body styling*/
body{
    background-color: var(--hvid);
}


body h1{
    font-family: var(--denstore);
    color: var(--roed);
    padding-bottom: 20px;
}

/*Månedens øl tekst styling*/
#maanedens p{
    font-family: var(--denlille);
    color: var(--roed);
    padding-bottom: 40px;
    font-size: 25px;
    max-width: 500px;
}

/*Header styling til video*/
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}


header video{
    display: block;
    width: 100%;
    position: relative;
}
/*Styling af guidende pil*/
header .pil{
    align-self: center;
    top: 100%;
    animation-name: pil;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    opacity: 70%;
}

@keyframes pil{
    from{
        top: 80%;
    }
    to{
        top: 112%;
    }
}

.pil{
    position: absolute;
    z-index: 2;
    font-size: 100px;
    color: var(--beige);
}

/*Styling af månedens øl section*/
#maanedens{
    margin: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
}


.købnu{
    font-family: var(--denlille);
    font-size: xx-large;
    background-color: var(--roed);
    color: var(--hvid);
    border-radius: 15px;
    padding: 10px;
    border: 0px;
    margin-left: 170px;
    text-decoration: none;
}


.købnu:active{
    background-color: var(--roed);
    border: 1px solid var(--orange);
}


.købnu:hover{
    background-color: var(--orange);
}


#maanedens .text{
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 70px;
}


#maanedens, h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}


#maanedens, p{ /*Komma ikke nødvendigt, opdaget sent i processen, tør ikke ændre*/
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--roed);
}

/*Linje styling*/
.linje{
    border-top: 4px solid var(--roed);
    width: 90%;
    z-index: 1;
    margin-top: 80px;
    margin-left: -190px;
}

/*Billede styling*/
#billede{
    display: block;
    width: 500px;
    margin-right: 10%;
    margin-left: 10%;
}

/*Banner styling*/
.banner {
    background-color: var(--lysblaa);
    color: var(--hvid);
    font-family: var(--denlille);
    font-size: xx-large;
    padding: 20px 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

/*Animation af banner, hedder marquee fordi det er en forældet version som man ikke bruger mere :/ */
.marquee {
    display: flex;
    gap: 100px; /* Spacing mellem elementerne */
    animation: marquee 40s linear infinite;
    width: max-content;
    font-family: var(--denstore);
}


@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/*Nyheder styling*/
.udvalg{
    background-color: var(--orange);
}


.udvalg h1{
    padding: 50px;
    color: var(--beige);
    font-size: 50px;
}


.daaser{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 50px 100px;
}

.daaser img{
    width: 250px;
}
.daaser img:hover{
    transform: scale(1.05);
}

.daaser p{
    color: var(--beige);
    font-size: 40px;
    font-family: var(--denlille);
}


/*Originale header, store problemer uden ekstra redigering*/

.header1{
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 10px 20px;
}

.navbar{
    display: flex;
    align-items: center;
}


#logoheader {
    width: 10vw;
    height: auto;
    
}


.navlist {
    list-style: none;
    display: flex;
    gap: 150px;
    font-size: 1.5rem;
    padding-left: 150px;
}

.navindhold {
    font-family: var(--denstore);
    color: var(--orange);
    text-decoration: none;
}

.navindhold:hover {
    text-decoration: underline;
}



.filterknap {
    color: var(--orange);
    font-family: var(--denstore);
    font-size: 1rem;
    background-color: transparent;
    border: none;
    display: flex;
    gap: 10px;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}


.filter {
    position: relative;
    display: inline-block;
}

.filterting {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--beige);
    padding-left: 10px;
    padding-right: 11.5px;
    padding-bottom: 10px;
}

.flagogsprog {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: -10px;
}

.filterting a {
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: var(--denstore);
    color: var(--orange);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 7.5px;
}

.filterknap:hover {
    cursor: pointer;
}

/*viser dropdown filter når klikkes*/
.filter:focus-within .filterting {
    display: block;
    font-size: 1rem;
}

.filterknap:focus-within {
    background-color: var(--beige);
}

.filterting a:hover{
    text-decoration: underline;
}

.fa-caret-down {
    position: relative;
    padding-top: 3px;
}

.flag{
    width: 20px;
    height: auto;
}



/*footer redigering*/
footer{
    background-color: var(--moerkblaa);
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 120px;
    padding-bottom: 80px;
    font-family: var(--denlille);
    color: var(--lysblaa);
}

.altekstfooter {
    display: block;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 1.1rem;
}

.footerlinktekst {
    text-decoration: none;
    color: inherit;
}

.footerlinktekst:hover {
    text-decoration: underline;
}

#logofooter{
    width: 250px;
    height: auto;
    margin-top: -60px;
}

#logofooter:hover{
    cursor: pointer;
}

.fa-brands.fa-facebook{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-instagram{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-linkedin{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-tiktok{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-youtube{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-reddit{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}