:root{
    margin: 0;
    padding: 0;
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5;

--denlille: "serenity", sans-serif;
--denstore: "noka", sans-serif;
}

footer{
    background-color: var(--moerkblaa);
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.tekstfooter{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 120px;
    padding-bottom: 80px;
}

footer a{
    display: block;
    justify-content: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: var(--denlille);
    color: var(--lysblaa);
    text-decoration: none;
    padding: 10px;
}

footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#logofooter{
    width: 250px;
    height: auto;
    padding-top: 50px;
}

#logofooter:hover{
    cursor: pointer;
}

#facebook{
    width: 40px;
    height: auto;
}

#instagram{
    width: 40px;
    height: auto;
}

#linkedin{
    width: 40px;
    height: auto;
}