/*Variabler*/
:root{
    margin: 0;
    padding: 0;
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5;

--denlille: "serenity", sans-serif;
--denstore: "noka", sans-serif;
}

/*Header redigering*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoheader {
    width: 10vw;
    height: auto;
}


.navlist {
    list-style: none;
    display: flex;
    gap: 150px;
    font-size: 1.5rem;
}

.navindhold {
    font-family: var(--denstore);
    color: var(--orange);
    text-decoration: none;
}

.navindhold:hover {
    text-decoration: underline;
}

/*fitler/sprogknap redigering*/
.filterknap {
    color: var(--orange);
    font-family: var(--denstore);
    font-size: 1rem;
    background-color: transparent;
    border: none;
    display: flex;
    gap: 10px;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}


.filter {
    position: relative;
    display: inline-block;
    margin-left: 220px;
    margin-right: 50px;
}

.filterting {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--beige);
    padding-left: 10px;
    padding-right: 11.5px;
    padding-bottom: 10px;
}

.flagogsprog {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: -10px;
}

.filterting a {
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: var(--denstore);
    color: var(--orange);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 7.5px;
}

.filterknap:hover {
    cursor: pointer;
}

/*viser dropdown filter når klikkes*/
.filter:focus-within .filterting {
    display: block;
    font-size: 1rem;
}

.filterknap:focus-within {
    background-color: var(--beige);
}

.filterting a:hover{
    text-decoration: underline;
}

.fa-caret-down {
    position: relative;
    padding-top: 3px;
}

.flag{
    width: 20px;
    height: auto;
}

/*footer redigering*/
footer{
    background-color: var(--moerkblaa);
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 120px;
    padding-bottom: 80px;
    font-family: var(--denlille);
    color: var(--lysblaa);
}

.altekstfooter {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 100;
}

.footerlinktekst {
    text-decoration: none;
    color: inherit;
}

.footerlinktekst:hover {
    text-decoration: underline;
}

#logofooter{
    width: 250px;
    height: auto;
    margin-top: -60px;
}

#logofooter:hover{
    cursor: pointer;
}

.fa-brands.fa-facebook{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-instagram{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-linkedin{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-tiktok{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-youtube{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}

.fa-brands.fa-reddit{
    color: var(--lysblaa);
    padding-right: 10px;
    font-size: 2rem;
}