/*variabler*/
:root {
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5; 

    --denlille: "serenity", sans-serif;
    --denstore: "noka", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*header redigering*/
header {
    background-image: url("../IMG/omoshero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.navbar {
    position: absolute;
    top: 20px;
    left: 38%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.navlist {
    display: flex;
    list-style: none;
    padding-left: 2%;
}

.filter {
    position: absolute;
    top: 90px;
    right: 20px;
}

body{
    background-color: var(--beige);
}

/*Breadcrumbs redigering*/
.hvorerdu{
    display: flex;
    font-family: var(--denlille);
    color: var(--hvid);
    font-size: 1.5vw;
    padding-left: 3vw;
    align-items: center;
    margin-bottom: -30px;
    padding-top: 10px;
}

.Forside {
    font-family: var(--denlille);
    color: var(--hvid);
    font-size: 1.5vw;
    text-decoration: none;
}

.Forside:hover {
    text-decoration: underline;
    color: var(--hvid);
}

.omos{
    text-decoration: underline;
    padding-left: 5px;
}

/*Sektion 1 redigering*/
.linje1{
    border-top: 4px solid var(--roed);
    width: 30%;
    z-index: 1;
    padding-top: -110px;
    margin-top: 50px;
    margin-bottom: -80px;
}

.linje2 {
    border-bottom: 4px solid var(--roed);
    width: 30%;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 162%;
    transform: translateY(-50%);
}

.mission{
    background-color: var(--beige);
}

.mission h2{
    font-family: var(--denstore);
    text-align: center;
    color: var(--roed);
    font-size: 3vw;
    padding-top : 70px;
}

.mission p{
    color: var(--orange);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    font-family: var(--denlille);
    font-size: 1.5vw;
    padding-bottom: 70px;
}

/*Sektion 2 redigering*/
.vision {
    background-color: var(--lysgroen);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes content apart */
    gap: 3vw;
}

.vision-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.vision h2 {
    font-family: var(--denstore);
    color: var(--orange);
    font-size: 3vw;
    padding-left: 5%;
    text-align: center;
    margin-top: -10px;
}

.vision p {
    color: var(--hvid);
    font-family: var(--denlille);
    font-size: 1.5vw;
    text-align:center;
    margin-top: 10px;
    padding-left: 5%;
}

.vision img {
    height: 600px;
    width: auto;
    align-self: flex-end; /* Moves the image to the bottom */
}


/*Sektion 3 redigering*/
.veardier{
    display: flex;
    background-color: var(--lysblaa);
    padding: 20px;
    text-align: center;
    height: 600px;
}

.veardier h2{
    font-family: var(--denstore);
    color: var(--moerkblaa);
    font-size: 3vw;
}

.veardier p{
    font-family: var(--denlille);
    color: var(--beige);
    font-size: 1.5vw;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    position: relative;
}

.veardiertekst{
    width: 30%;
}

.oeltekst{
    width: 35%;
    text-align: center;
    padding-top: 25px;
}

.oeltekst img{
    width: 200px;
    height: auto;
    padding-top: 60px;
}

.oeltekst p{
    padding-left: 80px;
    padding-right: 80px;
    text-align:justify;
}

.tabbeer {
    height: 600px;
    width: auto;
    position: absolute;
    right: 0;
    padding-right: 30px;
}

.linje3 {
    border-top: 4px solid var(--beige);
    width: 30%;
    position: absolute;
    left: 0;
    bottom: -1655px;
}

