:root {
    --groen: #616D38;
    --lysgroen: #B79F39;
    --roed: #C34C27;
    --orange: #BC6C29;
    --moerkblaa: #183A37;
    --lysblaa: #2E776E;
    --beige: #EFD6AC;
    --hvid: #FCF2E5; 

    --denlille: "serenity", sans-serif;
    --denstore: "noka", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--denlille);
    text-align: center;
    position: relative;
    background-color: var(--hvid);

}

/* ----BREADCRUMBS---- */
.breadcrumbs {
    font-size: 2vw;
    font-family: var(--denlille);
    color: var(--beige);
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--beige);
    font-weight: 500;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .active {
    text-decoration: underline;
}

/* ----HERO SEKTION---- */
.hero {
    position: relative;
    width: 100vw;
    height: 550px; /* Justér efter behov */
    background: linear-gradient(-195deg, #FCF2E5 50%, #C34C27 50%);
}

.nyheder{
    color: var(--groen);
    font-size: 3vw;
    font-family: var(--denstore);
}

.linje{
    border-top: 4px solid var(--groen);
    width: 21%;
    z-index: 1;
    margin-left: 565px;
    margin-top: 5px;
}

/* ----CAROUSEL STARTER---- */
.carousel-container {
    margin-top: 50px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.carousel-container p{
    font-size: 1.5vw;
    font-family: var(--denlille);
    color: var(--beige);
}

.carousel {
    display: flex;
    width: max-content;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    
    /* Skjuler scrollbar på forskellige browsere */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer & Edge */
}

.carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.carousel-item {
    flex: 0 0 auto;
    width: 33.33%; /* Vist 3 billeder ad gangen */
    padding: 10px; /* Afstand mellem billeder */
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out; /* Hurtigere overgang */
}

.carousel-item:hover {
    transform: scale(1.05); /* Forstørrer artiklen lidt */
}

.carousel-item img {
    width: 55%;
    height: auto;
    transition: transform 0.2s ease-in-out; /* Hurtigere overgang på billedzoom */
}

.carousel-item:hover {
    transform: scale(1.05); /* Forstørrer artiklen lidt */
}

.carousel-item:hover img {
    transform: scale(1);
}

/* PRIS SEKTION*/
.pris {
    display: inline-block; /* Sørger for, at border kan strækkes */
    position: relative; /* Gør det muligt at placere en længere linje */
}

.pris::after {
    content: ""; /* Opretter en pseudo-element til linjen */
    position: absolute;
    left: -25px;
    bottom: -8px; /* Juster afstanden fra teksten */
    width: 70px; /* Gør linjen længere */
    height: 2px; /* Tykkelsen af linjen */
    background-color: var(--beige)
}
   
/* PILE SEKTION*/
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    cursor: pointer;
    color: var(--beige);
    background: none;
    border: none;
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1), color 0.5s ease;
    z-index: 10;
}

.arrow:hover {
    transform: translateY(-50%) scale(1.5); /* Større og blødere zoom */
    color: var(--lysblaa);
}

/* Justér pilenes placering, så de er tættere på billederne */
#prev {
    left: 10px; /* Flyt længere ind */
}

#next {
    right: 10px; /* Flyt længere ind */
}


/* ----MÅNEDENSKASSER SEKTION---- */
.maanedens-kasser{
    background-color: var(--lysblaa);
    color: var(--beige);
    font-size: 3vw;
    padding: 40px;
    font-family: var(--denstore);
    border-bottom: 4px solid var(--hvid);
    border-top: 4px solid var(--hvid);
}

.linje1{
    border-top: 4px solid var(--beige);
    width: 93%;
    z-index: 1;
    margin-left: 50px;
}

.maanedens-kasser p{
    font-size: 25px;
    font-family: var(--denlille);
}

.kasse-carousel-container {
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kasse-carousel-container p {
    font-size: 1.5vw;
    font-family: var(--denlille);
}

.kasse-carousel {
    display: flex;
    width: max-content;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;

 /* Skjuler scrollbar på forskellige browsere */
 scrollbar-width: none; /* Firefox */
 -ms-overflow-style: none; /* Internet Explorer & Edge */
}

.carousel::-webkit-scrollbar {
 display: none; /* Chrome, Safari, Opera */
}

.kasse-carousel-item {
    flex: 0 0 auto;
    width: 33.33%; /* Vist 3 billeder ad gangen */
    padding: 10px; /* Afstand mellem billeder */
    box-sizing: border-box;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out; /* Hurtigere overgang */
}

.kasse-carousel-item:hover {
    transform: scale(1.05); /* Forstørrer artiklen lidt */
}

.kasse-carousel-item img {
    width: 55%;
    height: auto;
    transition: transform 0.2s ease-in-out; /* Hurtigere overgang på billedzoom */
}

.kasse-carousel-item:hover {
    transform: scale(1.05);
}

.kasse-carousel-item:hover img {
    transform: scale(1);
}

/* PILE SEKTION */
.kasse-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    cursor: pointer;
    color: var(--beige);
    background: none;
    border: none;
    border-radius: 50%;
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1), color 0.5s ease;
    z-index: 10;
}

.kasse-arrow:hover {
    color: var(--roed);
    transform: translateY(-50%) scale(1.5); /* Større og blødere zoom */
}

/* Justér pilenes placering */
#prev-kasse {
    left: 10px;
}

#next-kasse {
    right: 10px;
}

/*TILBUDSBANNER SEKTION*/
.tilbud-section {
    padding: 0px;
    overflow: hidden;
    border-bottom: 4px solid var(--hvid);
}

.banner {
    background-color: var(--orange);
    color: var(--hvid);
    font-family: var(--denstore);
    font-size: xx-large;
    padding: 30px 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: flex;
}

.banner-content {
    display: flex;
    gap: 30px; /* Justerer afstanden mellem elementer */
    min-width: 200%; /* Sørger for at dække hele skærmen to gange */
    animation: scrollText 15s linear infinite;
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* Halvdelen af teksten forsvinder, men den er duplikeret */
    }
}

/* ----MÅNEDENS ØL SEKTION---- */
.maanedens-oel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Afstand mellem tekst og billede */
    padding: 30px;
    margin: auto; /* Centrerer indholdet */
    background-color: var(--lysgroen);
    border-bottom: 4px solid var(--hvid);
}

.maanedens-oel h2 {
    padding: 40px;
    font-size: 3vw;
    color: var(--hvid);
    font-family: var(--denstore);
    font-weight: bold;
    margin-bottom: 10px;
}

.linje2{
    border-top: 4px solid var(--hvid);
    width: 73%;
    z-index: 1;
    margin-top: -45px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.maanedens-oel p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 400px;
    text-align: center;
    color: var(--hvid);
}

.maanedens-oel-container img {
    width: 260px; /* Juster størrelsen på billedet */
    height: auto;
    transform: scale(1.05); /* Forstørrer artiklen lidt */
    margin-left: 30px;
}

.maanedens-oel-container button {
    background-color: var(--groen);
    color: var(--hvid);
    font-size: 20px;
    font-family: var(--denlille);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: -15px;
    margin-bottom: 102px;
}

.maanedens-oel-container button:hover {
    background-color: var(--moerkblaa);
}

.linje3{
    border-top: 4px solid var(--hvid);
    width: 139%;
    z-index: 1;
    margin-top: -90px;
    margin-bottom: 50px;
    margin-left: -363px;
}